.home-main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background: #F1F1F1;
}

.header {
    position: relative;
}

.header img {
    display: flex;
    width: 90vw;
    height: 53.473rem;
    /* width: 20.077rem;
    height: 53.473rem;
    flex-shrink: 0; */
    margin-left: auto;
    margin-right: auto;
}

.useless-1 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 22%;
    left: 10%;
    right: 10%;
}

.col {
    border-radius: 0.3125rem;
    border: 4px solid #000;
    box-shadow: 4px 4px 0px 0px #000;
    width: 80vw;
    height: auto;
    background-color: white;
}


/* Using Flexbox */

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 0rem;
    position: relative;
    /* margin-left: auto;
    margin-right: auto; */
    /* background: transparent; */
}

.col-01 h2 {
    border-radius: 0.3125rem;
    border: 1px solid #000;
    background: #6041F8;
    display: flex;
    padding: 0.3125rem 0rem;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: white;
    font-family: Gilroy-Regular;
}

.col-01 p {
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Gilroy-Regular;
}

.col-01 h3 {
    color: #000;
    font-family: Gilroy-bold;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: end;
    padding-right: 1rem;
    text-decoration: none;
}


/* PING US BOX */

.container-up {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0.3125rem;
    border: 4px solid #000;
    background: #EABCFF;
    box-shadow: 4px 4px 0px 0px #000;
    gap: 1.12rem;
    top: 5rem;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.ping-us-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    margin-bottom: 1.81rem;
}

.ping-us-t {
    border-radius: 0.3125rem;
    background: #6041F8;
    box-shadow: 3px 3px 0px 0px #000;
    color: #FFF;
    font-family: VANDAL-Free-Font;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1.12rem;
    white-space: nowrap;
}

.blue {
    color: #6041f8;
    font-family: Gilroy-Bold;
}

.connect-with-us-para {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1.88rem;
}


/* WHY CHOOSE US---------------------------------------------------------------------------------- */

.why-choose-us-main {
    margin-top: 7.38rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80vw;
}

.grid-container-wcu {
    display: grid;
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 800px; */
    /* width: 80vw; */
    /* margin: 0 auto; */
}

.box-wcu {
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    /* align-items: flex-start; */
    /* gap: 1.5625rem; */
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    height: fit-content;
    /* transform: rotate(-1deg); */
    flex-shrink: 0;
    border-radius: 0.3125rem;
    border: 4px solid #000;
    /* background: #EABCFF; */
}

.box-wcu img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 41px;
    height: 40px;
    background: transparent;
}

.expertise {
    transform: rotate(-1deg);
    flex-shrink: 0;
    background: #EABCFF;
}

.customization {
    transform: rotate(1deg);
    flex-shrink: 0;
    background: #CDFF50;
}

.quality {
    transform: rotate(-1deg);
    flex-shrink: 0;
    background: #FF9644;
}

.timely {
    transform: rotate(1deg);
    flex-shrink: 0;
    background: #FF7262;
}

.satisfaction {
    transform: rotate(-1deg);
    flex-shrink: 0;
    background: #54FFE0;
}

.box-wcu h2 {
    color: #000;
    text-align: center;
    font-family: VANDAL-Free-Font;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: transparent;
    margin-left: 60px;
    margin-top: 0.5rem;
}

.box-wcu h3 {
    background: transparent;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
}


/* TECH STACK */

.tech-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 7.38rem; */
    gap: 1.25rem;
}

.tech-stack-detail {
    margin: 0;
    padding: 0;
}

.tech-stack h2 {
    color: #000;
    font-family: VANDAL-Free-Font;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 40vw;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.tech-stack-detail p {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    text-align: justify;
}

.tech-stack img {
    width: 80vw;
    height: 45vh;
    margin-left: auto;
    margin-right: auto;
}

.industries {
    position: relative;
    display: block;
    /* content: url('/industries-phone.png'); */
}

.industries-image {
    display: block;
    width: 100%;
    content: url('/industries-phone.png');
}

.industries h2 {
    background: transparent;
    display: flex;
    justify-content: center;
    color: #000;
    font-family: VANDAL-Free-Font;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 10%;
    left: 20%;
}

.industries h3 {
    background: transparent;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-align: justify;
    font-family: Gilroy-Medium;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 22%;
    left: 10%;
}

.satisfied-customer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.satisfied-customer h2 {
    display: inline-flex;
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    border: 4px solid #000;
    background: #80EBFF;
    color: #000;
    font-family: VANDAL-Free-Font;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lines-left {
    padding-right: 1.93rem;
}

.lines-right {
    padding-left: 1.93rem;
}

.satisfied-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex-direction: column;
}

.satisfied-customer img {
    display: none;
}

@media(max-width:328px) {
    .home-main {
        gap: 15rem
    }
}

@media(max-width:400px) {
    .container-up {
        top: 15rem;
    }
}

@media(min-width:1000px) {
    .home-main {
        gap: 0
    }
    .flexbox {
        flex-direction: row;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        top: 15rem;
    }
    .container-up {
        flex-direction: row;
        top: 0;
        align-items: center;
        padding: 4.375rem 3.125rem;
        align-items: center;
        gap: 21.75rem;
        width: 80vw;
        /* margin-right: 3.12rem; */
    }
    .header img {
        content: url('/plane.svg');
        width: 100%;
    }
    .connect-with-us-para {
        font-size: 1.875rem;
    }
    .ping-us-div {
        margin-right: 3.12rem;
        align-items: center;
        justify-content: center;
    }
    .why-choose-us-main {
        margin-top: 7.38rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90vw;
    }
    .grid-container-wcu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin-left: auto;
        margin-right: auto;
        /* max-width: 800px; */
        width: 80vw;
        /* margin: 0 auto; */
    }
    .box-wcu {
        display: flex;
        padding: 0.625rem;
        flex-direction: column;
        width: 20vw;
        height: fit-content;
        flex-shrink: 0;
        border-radius: 0.3125rem;
        border: 4px solid #000;
    }
    .box-wcu img {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 41px;
        height: 40px;
        background: transparent;
    }
    .tech-stack {
        display: flex;
        flex-direction: row;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7.38rem;
        gap: 4.69rem;
    }
    .tech-stack-detail p {
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }
    .tech-stack-detail h2 {
        /* width: 10vw; */
        text-align: left;
    }
    .tech-stack img {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        /* height: 45vh; */
    }
    .industries-image {
        display: block;
        width: 100%;
        content: url('/industries-bg.png');
    }
    .industries h2 {
        position: absolute;
        top: 10%;
        left: 40%;
    }
    .industries h3 {
        top: 22%;
        left: 10%;
        /* content: url('/.industries.svg'); */
    }
    .industries-web {
        content: url('/industries.svg');
        position: absolute;
        top: 80%;
        right: 80%;
        left: 00%;
        width: 69rem;
        height: 11rem;
    }
    .satisfied-customer img {
        display: flex;
    }
}