.main-contact img {
    width: 100%;
}

contact-text {
    color: #FFF;
    text-align: center;
    font-family: VANDAL-Free-Font;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 6.13rem;
    left: 13%;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

.contact-us {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    position: absolute;
    top: 30%;
    left: 14%;
}

.top-section {
    background: #C8EB2D;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    height: 6.25rem;
    border-radius: 0.3125rem;
    border: 4px solid #000;
}

.lower-section {
    background: #D7C0D0;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    height: 30.125rem;
}

.right-section {
    display: flex;
    background: transparent;
    /* flex-direction: column; */
}

.right-section img {
    width: 50vw;
    margin-left: 1rem;
    margin-right: auto;
    background: transparent;
}

.right-section form {
    width: 50vw;
    margin-left: 1rem;
    margin-right: auto;
    background: transparent;
}

.box {
    /* width: 60vw; */
    border: 1px solid black;
    padding: 10px;
    border-radius: 0.3125rem;
    border: 4px solid #000;
}

.ellipse {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    display: flex;
    gap: 0.94rem;
    height: 13vh;
    margin-top: auto;
    margin-left: 3.75rem;
    margin-bottom: auto;
}


/* FORM */

.form-group {
    margin-bottom: 10px;
    margin-top: 40px;
}

label {
    display: block;
    background: #D7C0D0;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 0.8rem 0rem 0.5625rem 0.2rem;
    border-radius: 0.3125rem;
    border: 2px solid #000;
    background: #F2F5F2;
    margin-top: 0.5rem;
}

#full-name::placeholder,
#email::placeholder,
#message::placeholder {
    color: #929292;
    font-family: Gilroy-Regular;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button[type="submit"] {
    background-color: #C8EB2D;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #000;
    font-family: VANDAL-Free-Font;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

button[type="submit"]:hover {
    border-radius: 0.3125rem;
    border: 2px solid #000;
    background: #C8EB2D;
    box-shadow: 4px 4px 0px 0px #000;
}

button[type="submit"]:focus {
    outline: none;
}

.support {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin-top: 37.12rem;
    gap: 21.8rem;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

g {
    color: #006D69;
    font-family: Gilroy-Bold;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

email-t {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

line {
    color: #FF3434;
    font-family: Gilroy-Medium;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.made-by {
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
    /* width: 20vw;
    margin-left: auto;
    margin-right: auto; */
    /* text-align: justify; */
    align-items: center;
}

line-made-by {
    color: #FF3434;
    font-family: Gilroy-Medium;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* white-space: nowrap; */
    /* display: flex; */
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.useless-2 {
    display: flex;
    flex-direction: column;
}

@media(max-width:1000px) {
    .right-section {
        display: flex;
        flex-direction: column;
    }
    .main-contact img {
        width: 100%;
        height: 50vh;
    }
    .top-section {
        background: #C8EB2D;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        height: 4.25rem;
        border-radius: 0.3125rem;
        border: 4px solid #000;
    }
    .ellipse {
        width: 1.25rem;
        height: 1.25rem;
        flex-shrink: 0;
        /* display: flex; */
        gap: 0.94rem;
        margin-top: 0rem;
        margin-right: 1.12rem;
        margin-bottom: auto;
        position: absolute;
        right: 85%;
    }
    .ellipse img {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 1.3rem;
        margin-left: 0;
    }
    contact-text {
        font-size: 2.5rem;
    }
    .support {
        display: flex;
        flex-direction: column;
        /* flex-direction: column; */
        margin-top: 57.12rem;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 65vw;
        margin-left: auto;
        margin-right: auto;
        padding: 0.8rem 0rem 0.5625rem 0.2rem;
        border-radius: 0.3125rem;
        border: 2px solid #000;
        background: #F2F5F2;
        margin-top: 0.5rem;
    }
    button[type="submit"] {
        border-radius: 0.3125rem;
        border: 2px solid #000;
        background: #C8EB2D;
        box-shadow: 4px 4px 0px 0px #000;
        display: block;
    }
    .submit-btn-div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
    }
    .lower-section {
        height: 49rem;
    }
}

@media(max-width:500px) {
    .support {
        display: flex;
        flex-direction: column;
        /* flex-direction: column; */
        margin-top: 47.12rem;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .ellipse img {
        fill: #A74482;
        stroke-width: 3px;
        stroke: #000;
    }
    .support email-t {
        font-size: 1.3125rem;
    }
    .made-by email-t {
        font-size: 1.3125rem;
    }
    .made-by line-made-by {
        width: 50vw;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        padding: 0.8rem 0rem 0.5625rem 0.2rem;
        border-radius: 0.3125rem;
        border: 2px solid #000;
        background: #F2F5F2;
        margin-top: 0.5rem;
    }
    .right-section img {
        width: 14rem;
        height: 10rem;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-us {
        /* display: flex; */
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
        height: 100vh;
        position: absolute;
        top: 30%;
        left: 7%;
    }
    .top-section {
        background: #C8EB2D;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .lower-section {
        background: #D7C0D0;
        width: 80vw;
        height: 40.125rem;
    }
    .submit-btn-div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 7rem;
    }
    .main-contact contact-text {
        width: 80vw;
        font-size: 2rem;
        margin-top: 0rem;
    }
}