    html {
        margin: 0;
        background: #F1F1F1;
        /* overflow: hidden; */
    }
    
    .header-project {
        margin-top: 6.13rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .quotes{
        color: #6041F8;
        font-family: Sigmar One;
        font-size: 5rem;
        line-height: normal;
    }
    .header-proj-para {
        color: #000;
        text-align: center;
        font-family: VANDAL Free Font;
        font-size: 3.75rem;
        width: 80%;
        display: inline;
    }
    .main-project{
        display:flex;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
        margin-right: 2rem;
        margin-left: 2rem ;
    }
    .projects{
        display: flex;
    gap:5rem;
    width: 80vw;
    align-items: center;
    }

   .project-logo img{
    width: 9.375rem;
    height: 2.40575rem;
   }
    .project-description{
        display: flex;
        color: #000;
        font-family: Gilroy-Medium;
        font-size: 1.3125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        /* max-width: 18.75rem;
        min-height: 15.1875rem; */
        align-items: center;
    }
    .project1-main,
    .project2-main{
        display: flex;
        padding: 1.25rem;
        align-items: center;
        gap: 0.9375rem;
        border-radius: 1.875rem;
        border: 2px solid #000;
        box-shadow: 4px 4px 0px 0px #000;
        flex-direction: column;
    }
    .project1-main{
        background: #FDBD8F;

    }
    
    .journey-heading{
        color: #000;
font-family: VANDAL Free Font;
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 3.25rem */
    }
    .project1,
    .project2{
        gap: 2rem;
        display: flex;
    }
    .project2-main{
        background: #BCFFDA;
    }
    .project-heading{
        display: flex;
        color: #000;
        font-family: VANDAL Free Font;
        font-size: 1.3125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .tech-stack{
        display: flex;
        flex-direction: column;
        gap:1rem;
        align-items: center;
    }
    .tech{
        display: flex;
        padding: 0.1875rem 0.3125rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        border-radius: 0.3125rem;
        border: 1px solid #000;
        background: #FFF;
        box-shadow: 2px 2px 0px 0px #000;
        width: fit-content;
        color: #000;
font-family: VANDAL Free Font;
font-size: 1.3125rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 1.70625rem */
    }

    .project-left,
    .project-right{
        gap:1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .check-live-project1 a,
    .check-live-project2 a{
        text-decoration: none;
        color: #FFF;
font-family: VANDAL Free Font;
font-size: 1.3125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
.check-live-project1{
    display: flex;
padding: 0.5625rem 1.125rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
background: #000;
box-shadow: 3px 3px 0px 0px #6041F8;
}

.check-live-project2{
    display: flex;
padding: 0.5625rem 1.125rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
background: #000;
box-shadow: 3px 3px 0px 0px #FFC510;
}
.review-heading{
    display: flex;
    align-items: center;
    gap:2rem;
    margin-bottom: -2rem;
}
.reviews{
    display: flex;
    gap: 2.3rem;
    margin-top: -3rem;
    /* flex-direction: column; */
}
.review-title{
    color: #000;
text-align: center;
font-family: VANDAL Free Font;
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 3.25rem */
}
.project-review-content{
    color: #000;
font-family: Gilroy-Medium;
font-size: 1.3125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 21.875rem;
}
.project-review-name{
    color: #000;
font-family: Gilroy-Bold;
font-size: 1.3125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.review-designation{
    color: #000;
text-align: center;
font-family: Gilroy-Medium;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 15.0625rem;
}
.name-designation{
    display: flex;
flex-direction: column;
align-items: center;
gap: 0.3125rem;
}

.review-box{
    display: flex;
padding: 0.625rem;
flex-direction: column;
align-items: center;
gap: 1.875rem;
border: 2px solid #000;
box-shadow: 4px 4px 0px 0px #000;
border-radius: 0.2rem;
}

@media (max-width: 1300px){
.project1-main,
.project2-main{
    min-height: 38rem;
}
}
@media (max-width: 1100px){
.projects{
    flex-direction: column;
}

.project1-main,
.project2-main{
    min-height: auto;
}
}

@media (max-width: 520px){
    .project-description{
        font-size: 0.8125rem;
font-style: normal;
font-weight: 400;
line-height: 130%;
    }
    .project1-main,
    .project2-main{
        display: inline-flex;
padding: 1.25rem;
flex-direction: column;
align-items: center;
gap: 0.9375rem;
    }
    .project-logo img{
        width: 6.25rem;
        height: 1.60381rem;
    }

    .project-right{
        display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1;
height: auto;
    }
    .project-left{
        display: flex;
flex-direction: column;
align-items: center;
gap: 1.25rem;
    }
    .project-heading{
        font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .tech{
        display: flex;
padding: 0.1875rem 0.3125rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
        color: #000;
font-family: VANDAL Free Font;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 1.3rem */
    }
    .project1-main,
    .project2-main{
        gap:2rem;
        height: auto;
    }
    .check-live-project1,
    .check-live-project2{
        color: #FFF;
font-family: VANDAL Free Font;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .reviews{
        flex-direction: column;
    }
    .review-title,.journey-heading,.header-proj-para{
        font-size: 1.8rem;
    }
    .quotes{
        font-size: 3rem;
    }
    .project-review-content,
    .review-designation,
    .project-review-name{
        font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
}

