/* * {
    background: #F1F1F1;
} */

@font-face {
    font-family: Gilroy-bold;
    src: url('/Gilroy-Bold.ttf');
}
@font-face {
    font-family: Sigmar One;
    src: url('/SigmarOne.ttf');
}

@font-face {
    font-family: VANDAL-Free-Font;
    src: url('/VANDAL-Free-Font.ttf');
}

@font-face {
    font-family: Gilroy-Medium;
    src: url('/Gilroy-Medium.ttf');
}

@font-face {
    font-family: Gilroy-Black;
    src: url('/Gilroy-Black.ttf');
}

@font-face {
    font-family: Gilroy-Regular;
    src: url('/Gilroy-Regular.ttf');
}


/* h2 {
    font-family: VANDAL-Free-Font;
} */

h3 {
    font-family: Gilroy-Medium;
}

html,
body {
    /* height: 100%; */
    margin: 0;
    overflow-x: hidden;
}


/* HEADER SECTION----------------------------------------------------- */

.headline {
    position: relative;
    display: inline-block;
}

.header-image {
    display: block;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    /* aspect-ratio: 2.96/1; */
    margin-top: 3.56rem;
    z-index: -1;
}


/* CONNECT WITH US --------------------------------------------------------*/

.connect-with-us {
    display: inline-flex;
    padding: 4.375rem 3.125rem;
    align-items: center;
    border-radius: 0.3125rem;
    border: 4px solid #000;
    background: #EABCFF;
    box-shadow: 4px 4px 0px 0px #000;
    margin-left: 11.38rem;
    margin-right: 11.44rem;
}

.connect-with-us-content {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}

.connect-with-us-para {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1.18rem; */
}

.ping-us {
    border-radius: 0.3125rem;
    background: #6041F8;
    box-shadow: 3px 3px 0px 0px #000;
    display: flex;
    padding: 0.5625rem 1.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #FFF;
    font-family: VANDAL-Free-Font;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 21.75rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

.connect-button {
    border-radius: 0.3125rem;
    background: #6041F8;
    box-shadow: 3px 3px 0px 0px #000;
    display: flex;
    padding: 0.5625rem 1.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #FFF;
    font-family: VANDAL-Free-Font;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 21.75rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    white-space: nowrap;
}

.blue {
    /* display: inline; */
    color: #6041F8;
    font-family: Gilroy-Bold;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.62rem;
}

.red-sparkle {
    display: flex;
    margin-top: 5.94rem;
    margin-left: 39.25rem;
    margin-right: auto;
    width: 1.5rem;
    height: 2.90625rem;
    flex-shrink: 0;
}

.purple-sparkle {
    display: flex;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: 37.25rem;
    margin-bottom: 5rem;
    width: 1.5rem;
    height: 2.90625rem;
    flex-shrink: 0;
}

.connect h2 {
    color: #000;
    font-family: VANDAL-Free-Font;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}