/* * {
    background: #F1F1F1;
} */

@font-face {
    font-family: Gilroy-bold;
    src: url('/Gilroy-Bold.ttf');
}
@font-face {
    font-family: Sigmar One;
    src: url('/SigmarOne.ttf');
}

@font-face {
    font-family: VANDAL-Free-Font;
    src: url('/VANDAL-Free-Font.ttf');
}

@font-face {
    font-family: Gilroy-Medium;
    src: url('/Gilroy-Medium.ttf');
}

@font-face {
    font-family: Gilroy-Black;
    src: url('/Gilroy-Black.ttf');
}

@font-face {
    font-family: Gilroy-Regular;
    src: url('/Gilroy-Regular.ttf');
}


/* h2 {
    font-family: VANDAL-Free-Font;
} */

h3 {
    font-family: Gilroy-Medium;
}

html,
body {
    /* height: 100%; */
    margin: 0;
    overflow-x: hidden;
}


/* HEADER SECTION----------------------------------------------------- */

.headline {
    position: relative;
    display: inline-block;
}

.header-image {
    display: block;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    /* aspect-ratio: 2.96/1; */
    margin-top: 3.56rem;
    z-index: -1;
}


/* CONNECT WITH US --------------------------------------------------------*/


/* 
.container {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container-up {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.green {
    background-color: #cdff50;
    margin-top: 6.25rem;
}

.connect-with-us {
    display: inline-flex;
    padding: 4.375rem 3.125rem;
    align-items: center;
    border-radius: 0.3125rem;
    border: 4px solid #000;
    background: #eabcff;
    box-shadow: 4px 4px 0px 0px #000;
    gap: 21.75rem;
    position: relative;
}

.connect-with-us-content {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
}

.connect-with-us-para {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ping-us {
    border-radius: 0.3125rem;
    background: #6041f8;
    box-shadow: 3px 3px 0px 0px #000;
    display: flex;
    padding: 0.5625rem 1.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #fff;
    font-family: VANDAL-Free-Font;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.connect-button {
    border-radius: 0.3125rem;
    background: #6041f8;
    box-shadow: 3px 3px 0px 0px #000;
    display: flex;
    padding: 0.5625rem 1.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #fff;
    font-family: VANDAL-Free-Font;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2rem;
    margin-bottom: 2rem;
    white-space: nowrap;
}

.blue {
    color: #6041f8;
    font-family: Gilroy-Bold;
} */


/* PING US BOX */

.container-up {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0.3125rem;
    border: 4px solid #000;
    background: #EABCFF;
    box-shadow: 4px 4px 0px 0px #000;
    gap: 1.12rem;
    top: 5rem;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.container-down {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0.3125rem;
    border: 4px solid #000;
    background: #bcffda;
    box-shadow: 4px 4px 0px 0px #000;
    gap: 1.12rem;
    top: 5rem;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.ping-us-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    margin-bottom: 1.81rem;
}

.ping-us-t {
    border-radius: 0.3125rem;
    background: #6041F8;
    box-shadow: 3px 3px 0px 0px #000;
    color: #FFF;
    font-family: VANDAL-Free-Font;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1.12rem;
    white-space: nowrap;
}

.ping-us-t a {
    text-decoration: none;
    color: #FFF;
}

.blue {
    color: #6041f8;
    font-family: Gilroy-Bold;
}

.connect-with-us-para {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1.88rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.62rem;
}

@media(min-width:1000px) {
    .connect-with-us-para {
        font-size: 1.875rem;
    }
    .container-up {
        flex-direction: row;
        top: 0;
        align-items: center;
        padding: 4.375rem 3.125rem;
        align-items: center;
        gap: 21.75rem;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        /* margin-right: 3.12rem; */
    }
    .container-down {
        margin-top: 5rem;
        flex-direction: row;
        top: 0;
        align-items: center;
        padding: 4.375rem 3.125rem;
        align-items: center;
        gap: 21.75rem;
        width: 80vw;
        /* margin-right: 3.12rem; */
    }
    .ping-us-div {
        margin-right: 3.12rem;
        align-items: center;
        justify-content: center;
    }
}