.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.62rem;
}

.red-sparkle {
    display: flex;
    margin-top: 5.94rem;
    margin-left: 39.25rem;
    margin-right: auto;
    width: 1.5rem;
    height: 2.90625rem;
    flex-shrink: 0;
}

.purple-sparkle {
    display: flex;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: 37.25rem;
    margin-bottom: 5rem;
    width: 1.5rem;
    height: 2.90625rem;
    flex-shrink: 0;
}

.connect h2 {
    color: #000;
    font-family: VANDAL-Free-Font;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}